## Run ingest pipeline

In [ ]:
%python3 ingest_data.py --user=<user> --password=<pass> --host=localhost --port=5432 --db=ny_taxi --table_name=green_taxi_trips --url='https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz'

## Load Zones

In [29]:
import pandas as pd
from sqlalchemy import create_engine
import os

os.system(f"wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv -O taxi+_zone_lookup.csv")
engine = create_engine('postgresql://<user>:<pass>@localhost:5432/ny_taxi')
df = pd.read_csv('taxi+_zone_lookup.csv')
df.head(n=0).to_sql(name='zone_lookup', con=engine, if_exists='replace')
df.to_sql(name='zone_lookup', con=engine, if_exists='append')

265

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB